*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input{
    width: 80%;
    padding: 6px 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.todo-list {
    list-style-type: none;
}

li {
    clear: right;
    display: flex;
    justify-content: space-between;    
    border-top: 1px solid rgb(124, 125, 129);

}

li:nth-child(2n) {
    background-color: #dedfe0;
}

li:last-child{
    border-bottom: 1px solid rgb(124, 125, 129);
}

span{
    max-width: 30%;
}

button {
    margin-left: 10px;
    padding: 5px;
    border: none;
    background-color: transparent;
}

.addBtn{
    border: 1px solid rgb(153, 152, 156);
    padding:5px;
}
button:hover{
    color:blue;
}

@media only screen and (max-width: 500px) {
    .container{
        width: 80vw;
    }

    input{
        width: 70%;
    }
  }

  @media only screen and (max-width: 390px) {
    .container{
        width: 80vw;
    }

    input{
        width: 65%;
    }
  }